body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



.card-body {
    padding: 20px;    
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    /* margin-bottom: 15px; */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

button {
    margin: 10px;
    padding: 5px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2575fc;
}